<div class="container col-md-4 text-center" >
    <body class="">
        <main class="form-signin w-100 m-auto">
            <form data-bitwarden-watching="1">
                <img class="mb-4" src="../../../assets/image/person-circle.svg" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Olá Bem Vindo</h1>
    
                <div class="form-floating" style="margin-bottom: 2%;">
                    <input type="text" class="form-control" id="floatingInput" name="usuario" placeholder="insira o seu usuario" [(ngModel)]="form.usuario">
                    <label for="floatingInput">Login</label>
                </div>
                <div class="form-floating" style="margin-bottom: 2%;">
                    <input type="password" class="form-control" id="floatingPassword" name="senha" placeholder="insira a sua senha" [(ngModel)]="form.senha">
                    <label for="floatingPassword">Senha</label>
                </div>
    
                <!--<div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>-->
                <button class="w-100 btn btn-outline-primary" style="margin-bottom: 1%;" type="submit" (click)="onSubmit()">Entrar</button>
                <button class="w-100 btn btn-outline-danger" type="submit">Cadastrar</button>
                
                <p class="mt-5 mb-3 text-muted">© 2023–2023</p>
            </form>
        </main>
    </body>
</div>